.rg {
    margin-left: 20%;
}
.menuBar {
    background: #ffffff;
    border-radius: 6px;
    color: black;
    font-weight: 700;
    margin-right: 5px;
}
input.form-control {
    border-radius: unset !important;
}
input.form-control:focus {
    border: 1px solid #31353d !important;
}
.card-header {
    font-weight: 900;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(2, 200, 232, 0.92);
    border-bottom: 0px solid #33b5e5;
}
.card-header:first-child {
    border-radius: unset !important;
}
